body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  padding-left: 50px;
}

.header Button {
  padding-right: 50px;
}

.container {
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid;
  border-color: grey;
  border-radius: 5px;
  min-height: 90vh;
  padding: 1rem;
}

.dark-mode {
  background: #3e4444;
}

.dark-mode h1 {
  color: white;
}

.searchPa {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: rgb(199, 117, 117);
  height: 40px;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.search input {
  width: 100%;
  background: inherit;
  border: none;
}

.search input:focus {
  outline: none;
}

.note {
  width: 200px;
  background: greenyellow;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 170px;
  white-space: pre-wrap;
  padding: 1rem;
  justify-content: space-between;
}

.note-footer {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memo-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 50px 50px;
  place-items: center;
}

textarea {
  resize: none;
  border: none;
  background: greenyellow;
}

textarea:focus {
  outline: none;
}

.btn-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
